.cancel_button_dialog{
    border: none;
    margin-right: 1rem;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    background-color: #0080ff;
}
.cancel_button_dialog:hover{
    background-color: #0060dd;
}
dialog{
    border:0.2rem solid rgb(104, 57, 184);
    background-color: rgb(0,0,0,0.9);
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
.delete_button_dialog{
    border: none;
    margin-right: 1rem;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    background-color: #c90000;
}
.delete_button_dialog:hover{
    background-color: #a70000;
}