.filter_list {
  display: flex;
  flex-direction: row;
  width: 55vw;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 8px;
  border: 0.2rem solid rgb(104, 57, 184);
  padding: 1.6rem 2rem 1rem 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 1250px) {
  .filter_list {
    width: 70vw;
    padding: 1.6rem 1rem 1rem 1rem;
  }
}
@media (max-width: 910px) {
  .filter_list {
    width: 80vw;
    padding: 1.6rem 1rem 1rem 1rem;
  }
}
@media (max-width: 800px) {
  .filter_list {
    flex-direction: column;
  }
}
