.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  margin-top: 3rem;
  background-color: #191d21;
}
@media (max-width: 600px) {
  .socials {
    flex-direction: column;
  }
  .social_link {
    width: 100%;
  }
}
.insta {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fb {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.x {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insta:hover {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #ffdc80);
}
.fb:hover {
  background-color: #1877f2;
}
.x:hover {
  background-color: #1da1f2;
}
.social_insta:focus {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #ffdc80);
}
.social_fb:focus {
  background-color: #1877f2;
}
.social_x:focus {
  background-color: #1da1f2;
}
.end {
  background-color: #191d21;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem;
}
