
.form_input>input{  
    width:12rem;
    border-radius: 5px;
}
.form_input>label{  
    margin-left: 0.4rem;
}
.form_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size:0.9rem;
    background: linear-gradient(90deg, rgb(82, 18, 192), transparent) #956ced;
    /*background-color: #40234e;*/
}
@keyframes SlideTop {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}