.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  font-size: 0.9rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}
.nav-list-collapsed {
  list-style-type: none;
  margin: 0;
  padding: 0.1rem 1rem 0.1rem 1rem;
}
.nav-list-collapsed > li {
  padding: 0.1rem 0 0.1rem 0;
}
.nav-list-collapsed > li > a:hover {
  color: #d1d1d1;
  text-decoration: underline;
}
.nav-list-collapsed > li > a:focus {
  color: #d1d1d1;
  text-decoration: underline;
}
.nav-list-collapsed > li:not(:first-child) {
  border-top: 1px dashed black;
}

.collapsed_nav:hover {
  cursor: pointer;
}
.collapsed_nav:focus {
  border: 1px black solid;
}
.collapsed_nav > i {
  color: #fff;
  font-size: 1.3rem;
}

.collapsed_nav {
  display: none;
  width: 2.8rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0 0.5rem 0 0;
  background-color: #8824f9;
  border-radius: 5px;
}
.default_nav {
  display: block;
}
.accordion {
  display: none;
}
.accordion-content {
  position: absolute;
  background-color: #8824f9;
  border-radius: 10px;
  top: 3.5rem;
  right: 0.5rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}
.accordion-content_active {
  grid-template-rows: 1fr;
}
.accordion-content > div {
  overflow: hidden;
}
@media (max-width: 810px) {
  .default_nav {
    display: none;
  }
  .collapsed_nav {
    display: block;
  }
  .accordion {
    display: block;
  }
}

.nav-list li:not(:last-child) {
  margin: 0 1.5rem 0;
}
.nav-list > li > a:hover {
  color: #8824f9;
  text-decoration: underline;
}
.nav-list > li > a:focus {
  color: #8824f9;
  text-decoration: underline;
}
@keyframes SlideRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SlideLeft {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SlideTop {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
